@import "index-htop";
@import "index-hcont";
@import "index-hbot";
$wrapper:1190px;
$hea-pad-size:13px;
$none:none;
$normal:normal;
$ud-line:underline;
$line:1px;
$right:right;
$zero:0px;
$hundred:100px;

$five-size:5px;
$ten-size:10px;

$font-size:16px;
$sfont-size:12px;
$mfont-size:14px;
$twenty:20px;
$thirty:30px;
$thirty-six:36px;
$forty:40px;
$hundred-five:150px;
$hundred-eight:180px;


$inp-border:#c7a774;
$left:left;
$white:#fff;
$fa-hover-color:#e54948;
$f-color:#5e5e5e;
$fy-color:#C7A774;
$bor-color:#f3f3f3;
$bor-colorup:#e8e8e7;
.main{
    font-family: "微软雅黑";
}
.main>div{
    margin-bottom: $ten-size*2;
}
.main-top{
    height: $hundred*4;
    margin-bottom: $ten-size*2;
}
.mtop-lnav{
    background: #314349;
    width: $hundred-eight;
    float: $left;
    position: relative;
}
.mtop-lnav>li>a{
    display: block;
    width: $hundred-eight;
    height: $forty;
    color: $white;
    position: relative;
    transition: transform 0.3s,width 1s; 
}
.mtop-lnav>li>a:hover{
    width: 175px;
    background: $white;
    transform: translateX(5px);
}
.mtop-lnav>li>a:hover i,.mtop-lnav>li>a:hover h4{
    color: #000;
}
.mtop-lnav li>a i{
    position: absolute;
    font-size: $twenty;
    left: $ten-size+8;
    top: $ten-size;
}
.mtop-lnav>li>a h4{
    line-height: $forty;
    margin-left: 47px;
    font-weight: $normal;
    font-size:$mfont-size ;
}
.main-top .mtop-lunbo{
    float: $left;
}
.mtop-lnav .yincang{
    position: absolute;
    top: $zero;
    left: $hundred-eight;
    background: $white;
    height: 400px;
    width: 1010px;
    display: none;
    z-index: 10000;
}
.mtop-lnav .mtop-subnav{
    float: $left;
    width: 750px;
    height: 400px;
    padding: $ten-size $twenty;
    box-sizing: border-box;
    border-right: 1px solid $bor-colorup;
    border-bottom: 1px solid $bor-colorup;
}
.mtop-lnav .mtop-subnav dl{
    width: 235px;
    height: 130px;
    display: block;
    float: $left;
}
.mtop-lnav .mtop-subnav dl dd{
    float: $left;
    color: $f-color;
    margin: $ten-size/2  $ten-size/2 $ten-size/2 $zero;
    font-size: $mfont-size;
}
.mtop-subnav a{
    color: $f-color;
}
.mtop-subnav dt{
    margin: $ten-size/2 0;
    color: #333;
}
.mtop-subnav dt a{
    font-weight: 700;
}
.mtop-subnav a:hover{
    color: #d00;
    text-decoration: $ud-line;
}
.yincang .yincang-pic{
    float: $left;
    width: 260px;
}
.yincang .yincang-pic a{
    float: left;
    display: block;
    width: 259px;
    height: 199px;
    border-right: 1px solid $bor-color;
    border-bottom: 1px solid $bor-color;
    overflow: hidden;
}
.main-top .zhongxi:hover .yincang{
            display: block;
        }
.main .zixun{
    width: 260px;
    float: left;
    border-bottom: 1px solid $fy-color;
    border-right: 1px solid $fy-color;
    padding-left: 15px;
    box-sizing: border-box;
    height: 400px;
}
.main .zixun .tab1-top,.main .zixun .tab2-top{
    text-align: center;
}
.main .zixun .tab1-top div,.main .zixun .tab2-top div{
    display: inline-block;
    line-height: 30px;
    margin-left: 10px;
    cursor: pointer;
}
.zixun .tab1-bottom .kemu{
    //display: $none;
}
.zixun .tab1-bottom .doctor{
    width: 244px;
    height: 108px;
    text-align: center;
    padding-top: 25px;
    box-sizing: border-box;
    display: $none;
}
.zixun .tab1-bottom .doctor a{
    display: inline-block;
    margin-left:20px ;
    height: 72px;
    width: 72px;
}
.zixun .tab1-bottom .doctor a:first-child{
    background: url(../img/heart.png);
}
.zixun .tab1-bottom .doctor a:nth-of-type(2){
    background: url(../img/human.png);
}
.zixun .tab1-bottom .doctor a:first-child:hover{
    background: url(../img/heart1.png);
}
.zixun .tab1-bottom .doctor a:nth-of-type(2):hover{
    background: url(../img/human1.png);
}
.zixun .tab1-bottom .kemu a{
    display: inline-block;
    float: left;
    height: $thirty-six;
    line-height: $thirty-six;
    width: $thirty-six*2;
    color: #707070;
}
.zixun .tab1-bottom .kemu a:hover{
    text-decoration: $ud-line;
}
.zixun .wenzhen{
    margin: $ten-size 0;
}
.tab2-bottom .zhengp ul li{
    float: $left;
    padding:$thirty 0;
}
.zhengp ul li a{
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
}
.zhengp ul li a i{
    display: inline-block;
    background: url(../img/zheng.png) no-repeat -42px -44px;
    width: 37px;
    height: 37px;
}
.zhengp ul li:nth-last-of-type(2) a i{
    background: url(../img/zheng.png) no-repeat -100px -44px;
}
.zhengp ul li:nth-last-of-type(3) a i{
    background: url(../img/zheng.png) no-repeat -156px -44px;
}
.zhengp ul li:nth-last-of-type(4) a i{
    background: url(../img/zheng.png) no-repeat -214px -44px;
}
.zhengp ul li a span{
    color:$fy-color ;
    display: block;
    line-height: $thirty;
    font-size: $sfont-size;
}
.tab1active{
    border-bottom: 1px solid $fy-color;
    color: $fy-color;
}
.main .watch{
    height: $hundred-five;
}
.main .watch div{
    float: $left;
    height: $hundred-five;
    width: $hundred-eight;
    position: relative;
    img{
        width:$hundred-eight ;
        height: $hundred-five;
    }
}
.watch ul{
    float: $left;
}
.watch ul li{
    float: $left;
}

.floor .floor-left{
    width: $hundred-eight;
    float: $left;
}
.floor .floor-nav li{
    float: $left;
    width: 89px;
    height: 49px;
    line-height: 49px;
    border-left: $line solid $bor-color;
    border-bottom: $line solid $bor-color;
    text-align: center;
}
.floor-left .floornum{
    height: 85px;
    background: #ccc;
    text-align: center;
    line-height: 85px;
    font-size: $ten-size*2;
}
.white{
    color: $white;
}
//.floor-left .twofloor{
//  color: #ffa27a;
//}
//.floor-left .threefloor{
//  color: #ff6b6b;
//}
//.floor-left .fourfloor{
//  color: #f6c89e;
//}
//.floor-left .fivefloor{
//  color: #aee177;
//}
.floor .floor-nav li a{
    color: $f-color;
    font-size: $mfont-size;
}
.floor .floor-nav li a:hover{
    color: #ff5247;
    text-decoration: $ud-line;
}
.floor .floor-right{
    float: $left;
} 
.floor-lunbo{
    float: $left;
    position: relative;
}
.floor .floor-two{
    float: $left;
    font-size: $zero;
}
.floor .floor-two a{
    display: block;
    float: $left;
    width: 202px;
    height: 284px;
}
.floor .floor-two a:first-child{
    border-right:$line solid $bor-color;
    overflow: hidden;
}
.floor .floor-two img:hover{
    opacity: 0.8;
}
.floor .yao-nav{
    float: $left;
    font-size: $mfont-size;
}
.floor .yao-nav li{
    float: $left;
    width: 161px;
    padding: $twenty $twenty $ten-size $twenty;
    border-right: $line solid $bor-color;
    border-bottom: $line solid $bor-color;
}
.floor .yao-nav li:first-child{
    border-left:$line solid $bor-color;
    width: 160px;
}
.floor .yao-nav li a:first-child{
    display: block;
    text-align: center;
    margin-bottom: $ten-size;
}
.floor .yao-nav li a:first-child:hover{
    opacity: 0.8;
}
.floor .yao-nav li a:nth-of-type(2){
    display: inline-block;
    color: $f-color;
    width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: $thirty - 4;
}
.floor .yao-nav li a:nth-of-type(2):hover{
    color: #ff5247;
    text-decoration: $ud-line;
}
.floor .yao-nav span{
    display: block;
    color: #E72418;
    text-align: center;
    line-height: $thirty - 4;
    font-size: $font-size;
}
//轮播
.onelunbo{
            width: 750px;
            height: 400px;
            position: relative;
            cursor: pointer;
        }
        .onelunbo ul li{
            position: absolute;
            left:$zero;
            top:$zero;
            opacity: 0;
        }
        .onelunbo ul li img{
            width: 750px;
            height: 400px;
            display: block;
        }
        .onelunbo ol{
            position: absolute;
            left: 40%;
            bottom: $ten-size;
        }
        .onelunbo ol li{
            float: left;
            width: $twenty;
            height:$twenty;
            background: #3e535a;
            opacity: 0.6;
            border-radius: 50%; 
            text-indent: -99999px;
            margin-right: 5px;
            cursor: pointer;
        }
        .onelunbo ol li.active{
            opacity: 1;
        }
        #left,#right{
            text-decoration: $none;
            position: absolute;
            top:50%;
            margin-top: -30px;
            display: $none;
        }
        #left{
            left:$twenty;
        }
        #right{
            right:$twenty;
        }
        .onelunbo ul li a{
            display: block;
            opacity: 1;
}
//楼层轮播
#header img{
    width: 100%;
}

#nav img{
    display: block;
    width: 100%;
    
    }
    
#part {
    width: 605px;
    height: 284px;
    float: left;
}
#part .partCon {
    width: 605px;
    height: 284px;
    margin: 0 auto;
    
    
}
#part .partCon .left {
    float: left;
}
#part .partCon .right {
    float: right;
}
#part .partCon .banner {
    float: $left;
    width: 605px;
    height: 284px;

    position: relative;
}
#part .partCon .banner a {
    width: 71px;
    height: 71px;
    display: none;  
    
    position: absolute;
    top: 180px;
    z-index: 2;
}
#part .partCon .banner .scroll {
        width: 605px;
        height: 284px;
        background: #abcdef;
        position: relative;
        overflow: hidden;
}
#part .partCon .banner .scroll img {/*所有图片的位置*/
    position: absolute;
    left: 605px;
    cursor: pointer;
    
}
#part .partCon .banner .scroll img.first {/*第一张图片*/
    left: 0;
}
#part .partCon .banner .btn {
    width: 150px;
    height: 20px;
    position: absolute;
    /*background: rgba(0,0,0,0.5);*/
    left: 250px;
    bottom: 10px;
    border-radius: 20px;
    text-align: center;
    background: #3e535a;
    opacity: 0.6;
}
#part .partCon .banner .btn span {
    width: 10px;
    height: 10px;
    background: #666;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}
#part .partCon .banner .btn span.hover {
    background: #fff;
}
.louceng{
    display: $none;
    width: 50px;
    position: fixed;
    top: 200px;
    right: 20px;
    border: 1px solid #ccc;
}
.louceng a{
    display: block;
    color: #5e5e5e;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    background: $white;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}
.louceng .huiding{
    background: url(../img/ind-pic.png) no-repeat 90px 257px;
    border: 0;
}
.louceng .blue{
    background:#0099F1;
    display:inline-block;
    line-height:20px;
    color: $white;
}
.hea-rnav div{
    a{
    display: block;
    line-height: $xl-size;
    color: #5e5e5e;
    }
    i{
        color: #C1E2B3;
        font-style: $normal;
    }
} 
.hea-rnav .admin{
        display: $none;
        a:hover{
            color: #d00;
            text-decoration: $ud-line;
        }
}




@font-face {font-family: 'iconfont';
    src: url('../font/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}