@import "index-htop";
@import "index-hcont";
@import "index-hbot"
$wrapper:1190px;
$hea-pad-size:13px;
$none:none;
$normal:normal;
$ud-line:underline;
$line:1px;
$right:right;
$zero:0px;
$hundred:100px;

$five-size:5px;
$ten-size:10px;

$font-size:16px;
$sfont-size:12px;
$thirty:30px;

$inp-border:#c7a774;
$left:left;
$white:#fff;
$fa-hover-color:#e54948;
$f-color:#5e5e5e;


